*.txt
!spec-file.txt

*.pyc

*output*
*cycle_reg_*
*gen_*
*gen_classes_*


*_images*

*.ipynb*

*.dat

# latex
*.bbl
*.blg
*.nav
*.pdfpc
*.snm

# onedrive issues
*-relogu-XPS-15-9500*

# model weights
*.npz

# conf
*.env

papers
blocknotes.md
*.tar
*.gz
*ubyte
*.pt
*.aux
*.fdb_latexmk
*.fls
*.toc
*.log
*.out
*.synctex*
*.csv

FL_workspace.code-workspace
.vscode