# onedrive issues
*-relogu-XPS-15-9500*

# conf
*.env

# personal files
papers
blocknotes.md
FL_workspace.code-workspace
dev.env
CUDA Toolkit Helper*
results.7z

# images and csvs for thesis and presentation
notebooks/*.png
notebooks/*.csv

# caches and vs code files
*.ipynb_checkpoints
*.pytest_cache
*.vscode
*.pyc

# data sets
data/*
!data/README.md

# ignore old files
*.old

# excluding ray tune results
*ray_results*
